<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.falling.mapper.WorkersMapper">
    <resultMap id="workersResultMap" type="workers">
        <result column="true_name" property="trueName"></result>
        <result column="clock_in" property="clockIn"></result>
        <result column="clock_out" property="clockOut"></result>
        <result column="profile_photo" property="profilePhoto"></result>
        <result column="basic_salary" property="basicSalary"></result>
    </resultMap>
    <resultMap id="attendanceRecordsResultMap" type="attendanceRecords">
        <result column="worker_id" property="workerId"></result>
        <result column="manager_id" property="managerId"></result>
    </resultMap>
    <resultMap id="leaveRecordsResultMap" type="leaveRecords">
        <result column="worker_id" property="workerId"></result>
        <result column="leave_type" property="leaveType"></result>
        <result column="manager_id" property="managerId"></result>
    </resultMap>
    <resultMap id="resignationsResultMap" type="resignations">
        <result column="worker_id" property="workerId"></result>
        <result column="manager_id" property="managerId"></result>
    </resultMap>
    <resultMap id="trainingActivitiesResultMap" type="trainingActivities">
        <result column="training_content" property="trainingContent"></result>
        <result column="manager_id" property="managerId"></result>
    </resultMap>
    <resultMap id="trainingActivitiesRecordsResultMap" type="trainingActivitiesRecords">
        <result column="training_activity_id" property="trainingActivityId"></result>
        <result column="worker_id" property="workerId"></result>
        <result column="manager_id" property="managerId"></result>
    </resultMap>
    <resultMap id="announcementsResultMap" type="announcements">
        <result column="manager_id" property="managerId"></result>
        <result column="announcement_content" property="announcementContent"></result>
    </resultMap>
    <resultMap id="salaryRecordsResultMap" type="salaryRecords">
        <result column="worker_id" property="workerId"></result>
        <result column="manager_id" property="managerId"></result>
        <result column="basic_salary" property="basicSalary"></result>
        <result column="total_salary" property="totalSalary"></result>
    </resultMap>

    <!--    批量删除请假申请-->
    <update id="deleteLeaveRecords">
        update ademob.leave_records set status=2,manager_id=0 where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <!--    批量删除培训活动记录-->
    <update id="deleteTrainingActivitiesRecords">
        update ademob.training_activities_records set status=2,manager_id=0 where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>
    <update id="deleteResignations">
        update ademob.resignations set status=2,manager_id=0 where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <!--    分页条件查询（出勤记录）-->
    <select id="selectByPageAndCondition" resultMap="attendanceRecordsResultMap">
        select * from ademob.attendance_records
        <where>
            <if test="attendanceRecord.id!=null">
                and id = #{attendanceRecord.id}
            </if>

            <if test="attendanceRecord.workerId!=null">
                and worker_id = #{attendanceRecord.workerId}
            </if>
            <if test="attendanceRecord.type!=null">
                and type = #{attendanceRecord.type}
            </if>
            <if test="attendanceRecord.date!=null and attendanceRecord.date!=''">
                and date = #{attendanceRecord.date}
            </if>
            <if test="attendanceRecord.time!=null and attendanceRecord.time!=''">
                and time = #{attendanceRecord.time}
            </if>
            <if test="attendanceRecord.fine!=null">
                and fine = #{attendanceRecord.fine}
            </if>
            <if test="attendanceRecord.status!=null">
                and status = #{attendanceRecord.status}
            </if>

            <if test="attendanceRecord.managerId!=null">
                and manager_id = #{attendanceRecord.managerId}
            </if>
        </where>

        limit #{begin},#{size}

    </select>
    <select id="selectTotalCountByCondition" resultType="java.lang.Integer">
        select count(*)
        from ademob.attendance_records
        <where>
            <if test="attendanceRecord.id!=null">
                and id = #{attendanceRecord.id}
            </if>

            <if test="attendanceRecord.workerId!=null">
                and worker_id = #{attendanceRecord.workerId}
            </if>
            <if test="attendanceRecord.type!=null">
                and type = #{attendanceRecord.type}
            </if>
            <if test="attendanceRecord.date!=null and attendanceRecord.date!=''">
                and date = #{attendanceRecord.date}
            </if>
            <if test="attendanceRecord.time!=null and attendanceRecord.time!=''">
                and time = #{attendanceRecord.time}
            </if>
            <if test="attendanceRecord.fine!=null">
                and fine = #{attendanceRecord.fine}
            </if>
            <if test="attendanceRecord.status!=null">
                and status = #{attendanceRecord.status}
            </if>

            <if test="attendanceRecord.managerId!=null">
                and manager_id = #{attendanceRecord.managerId}
            </if>

        </where>
    </select>
    <select id="selectByPageAndCondition2" resultMap="leaveRecordsResultMap">
        select * from ademob.leave_records
        <where>
            <if test="leaveRecords.id!=null">
                and id = #{leaveRecords.id}
            </if>

            <if test="leaveRecords.workerId!=null">
                and worker_id = #{leaveRecords.workerId}
            </if>

            <if test="leaveRecords.leaveType!=null">
                and leave_type = #{leaveRecords.leaveType}
            </if>
            <if test="leaveRecords.bdate!=null and leaveRecords.bdate!=''">
                and bdate = #{leaveRecords.bdate}
            </if>
            <if test="leaveRecords.btime!=null and leaveRecords.btime!=''">
                and btime = #{leaveRecords.btime}
            </if>
            <if test="leaveRecords.edate!=null and leaveRecords.edate!=''">
                and edate = #{leaveRecords.edate}
            </if>
            <if test="leaveRecords.etime!=null and leaveRecords.etime!=''">
                and etime = #{leaveRecords.etime}
            </if>
            <if test="leaveRecords.fine!=null">
                and fine = #{leaveRecords.fine}
            </if>
            <if test="leaveRecords.approval!=null">
                and approval = #{leaveRecords.approval}
            </if>
            <if test="leaveRecords.status!=null">
                and status = #{leaveRecords.status}
            </if>
            <if test="leaveRecords.managerId!=null">
                and manager_id = #{leaveRecords.managerId}
            </if>
        </where>

        limit #{begin},#{size}
    </select>
    <select id="selectTotalCountByCondition2" resultType="java.lang.Integer">
        select count(*) from ademob.leave_records
        <where>
            <if test="leaveRecords.id!=null">
                and id = #{leaveRecords.id}
            </if>

            <if test="leaveRecords.workerId!=null">
                and worker_id = #{leaveRecords.workerId}
            </if>

            <if test="leaveRecords.leaveType!=null">
                and leave_type = #{leaveRecords.leaveType}
            </if>
            <if test="leaveRecords.bdate!=null and leaveRecords.bdate!=''">
                and bdate = #{leaveRecords.bdate}
            </if>
            <if test="leaveRecords.btime!=null and leaveRecords.btime!=''">
                and btime = #{leaveRecords.btime}
            </if>
            <if test="leaveRecords.edate!=null and leaveRecords.edate!=''">
                and edate = #{leaveRecords.edate}
            </if>
            <if test="leaveRecords.etime!=null and leaveRecords.etime!=''">
                and etime = #{leaveRecords.etime}
            </if>
            <if test="leaveRecords.fine!=null">
                and fine = #{leaveRecords.fine}
            </if>
            <if test="leaveRecords.approval!=null">
                and approval = #{leaveRecords.approval}
            </if>
            <if test="leaveRecords.status!=null">
                and status = #{leaveRecords.status}
            </if>
            <if test="leaveRecords.managerId!=null">
                and manager_id = #{leaveRecords.managerId}
            </if>
        </where>
    </select>
    <select id="selectByPageAndCondition3" resultMap="trainingActivitiesResultMap">
        select * from ademob.training_activities
        <where>
            <if test="trainingActivities.id!=null">
                and id = #{trainingActivities.id}
            </if>
            <if test="trainingActivities.trainingContent!=null and trainingActivities.trainingContent!=''">
                and training_content like #{trainingActivities.trainingContent}
            </if>
            <if test="trainingActivities.status!=null">
                and status = #{trainingActivities.status}
            </if>
            <if test="trainingActivities.managerId!=null">
                and manager_id = #{trainingActivities.managerId}
            </if>
        </where>

        limit #{begin},#{size}

    </select>
    <select id="selectTotalCountByCondition3" resultType="java.lang.Integer">
        select count(*) from ademob.training_activities
        <where>
            <if test="trainingActivities.id!=null">
                and id = #{trainingActivities.id}
            </if>
            <if test="trainingActivities.trainingContent!=null and trainingActivities.trainingContent!=''">
                and training_content like #{trainingActivities.trainingContent}
            </if>
            <if test="trainingActivities.status!=null">
                and status = #{trainingActivities.status}
            </if>
            <if test="trainingActivities.managerId!=null">
                and manager_id = #{trainingActivities.managerId}
            </if>
        </where>
    </select>
    <select id="selectByPageAndCondition4" resultMap="trainingActivitiesRecordsResultMap">
        select * from ademob.training_activities_records
        <where>

            <if test="trainingActivitiesRecords.id!=null">
                and id = #{trainingActivitiesRecords.id}
            </if>

            <if test="trainingActivitiesRecords.trainingActivityId!=null">
                and training_activity_id = #{trainingActivitiesRecords.trainingActivityId}
            </if>
            <if test="trainingActivitiesRecords.workerId!=null">
                and worker_id = #{trainingActivitiesRecords.workerId}
            </if>
            <if test="trainingActivitiesRecords.score!=null">
                and score = #{trainingActivitiesRecords.score}
            </if>
            <if test="trainingActivitiesRecords.bonus!=null">
                and bonus = #{trainingActivitiesRecords.bonus}
            </if>
            <if test="trainingActivitiesRecords.process!=null">
                and process = #{trainingActivitiesRecords.process}
            </if>
            <if test="trainingActivitiesRecords.status!=null">
                and status = #{trainingActivitiesRecords.status}
            </if>
            <if test="trainingActivitiesRecords.managerId!=null">
                and manager_id = #{trainingActivitiesRecords.managerId}
            </if>

        </where>
        limit #{begin},#{size}
    </select>
    <select id="selectTotalCountByCondition4" resultType="java.lang.Integer">
        select count(*) from ademob.training_activities_records
        <where>
            <if test="trainingActivitiesRecords.id!=null">
                and id = #{trainingActivitiesRecords.id}
            </if>
            <if test="trainingActivitiesRecords.trainingActivityId!=null">
                and training_activity_id = #{trainingActivitiesRecords.trainingActivityId}
            </if>
            <if test="trainingActivitiesRecords.workerId!=null">
                and worker_id = #{trainingActivitiesRecords.workerId}
            </if>
            <if test="trainingActivitiesRecords.score!=null">
                and score = #{trainingActivitiesRecords.score}
            </if>
            <if test="trainingActivitiesRecords.bonus!=null">
                and bonus = #{trainingActivitiesRecords.bonus}
            </if>
            <if test="trainingActivitiesRecords.process!=null">
                and process = #{trainingActivitiesRecords.process}
            </if>
            <if test="trainingActivitiesRecords.status!=null">
                and status = #{trainingActivitiesRecords.status}
            </if>
            <if test="trainingActivitiesRecords.managerId!=null">
                and manager_id = #{trainingActivitiesRecords.managerId}
            </if>
        </where>
    </select>
    <select id="selectByPageAndCondition5" resultMap="announcementsResultMap">
        select * from ademob.announcements
        <where>
            <if test="announcements.id!=null">
                and id = #{announcements.id}
            </if>
            <if test="announcements.managerId!=null">
                and manager_id = #{announcements.managerId}
            </if>
            <if test="announcements.announcementContent!=null and announcements.announcementContent!=''">
                and announcement_content like #{announcements.announcementContent}
            </if>
            <if test="announcements.status!=null">
                and status = #{announcements.status}
            </if>

        </where>
        limit #{begin},#{size}
    </select>
    <select id="selectTotalCountByCondition5" resultType="java.lang.Integer">
        select count(*) from ademob.announcements
        <where>
            <if test="announcements.id!=null">
                and id = #{announcements.id}
            </if>
            <if test="announcements.managerId!=null">
                and manager_id = #{announcements.managerId}
            </if>
            <if test="announcements.announcementContent!=null and announcements.announcementContent!=''">
                and announcement_content = #{announcements.announcementContent}
            </if>
            <if test="announcements.status!=null">
                and status = #{announcements.status}
            </if>

        </where>
    </select>
    <select id="selectByPageAndCondition6" resultMap="resignationsResultMap">
        select * from ademob.resignations
        <where>
            <if test="resignations.id!=null">
                and id = #{resignations.id}
            </if>

            <if test="resignations.workerId!=null">
                and worker_id = #{resignations.workerId}
            </if>

            <if test="resignations.reason!=null and resignations.reason!=''">
                and reason like #{resignations.reason}
            </if>

            <if test="resignations.approval!=null">
                and approval = #{resignations.approval}
            </if>
            <if test="resignations.status!=null">
                and status = #{resignations.status}
            </if>
            <if test="resignations.managerId!=null">
                and manager_id = #{resignations.managerId}
            </if>
        </where>

        limit #{begin},#{size}

    </select>
    <select id="selectTotalCountByCondition6" resultType="java.lang.Integer">
        select count(*) from ademob.resignations
        <where>
            <if test="resignations.id!=null">
                and id = #{resignations.id}
            </if>

            <if test="resignations.workerId!=null">
                and worker_id = #{resignations.workerId}
            </if>

            <if test="resignations.reason!=null and resignations.reason!=''">
                and reason like #{resignations.reason}
            </if>

            <if test="resignations.approval!=null">
                and approval = #{resignations.approval}
            </if>
            <if test="resignations.status!=null">
                and status = #{resignations.status}
            </if>
            <if test="resignations.managerId!=null">
                and manager_id = #{resignations.managerId}
            </if>
        </where>
    </select>

    <select id="selectByPageAndCondition7" resultMap="salaryRecordsResultMap">
        select * from ademob.salary_records
        <where>
            <if test="salaryRecords.id!=null">
                and id = #{salaryRecords.id}
            </if>
            <if test="salaryRecords.workerId!=null">
                and worker_id = #{salaryRecords.workerId}
            </if>
            <if test="salaryRecords.year!=null">
                and year = #{salaryRecords.year}
            </if>
            <if test="salaryRecords.month!=null">
                and month = #{salaryRecords.month}
            </if>
            <if test="salaryRecords.basicSalary!=null">
                and basic_salary = #{salaryRecords.basicSalary}
            </if>
            <if test="salaryRecords.bonus!=null">
                and bonus = #{salaryRecords.bonus}
            </if>
            <if test="salaryRecords.fine!=null">
                and fine = #{salaryRecords.fine}
            </if>
            <if test="salaryRecords.totalSalary!=null">
                and total_salary = #{salaryRecords.totalSalary}
            </if>
            <if test="salaryRecords.status!=null">
                and status = #{salaryRecords.status}
            </if>

            <if test="salaryRecords.managerId!=null">
                and manager_id = #{salaryRecords.managerId}
            </if>
        </where>

        limit #{begin},#{size}

    </select>
    <select id="selectTotalCountByCondition7" resultType="java.lang.Integer">
        select count(*) from ademob.salary_records
        <where>
            <if test="salaryRecords.id!=null">
                and id = #{salaryRecords.id}
            </if>
            <if test="salaryRecords.workerId!=null">
                and worker_id = #{salaryRecords.workerId}
            </if>
            <if test="salaryRecords.year!=null">
                and year = #{salaryRecords.year}
            </if>
            <if test="salaryRecords.month!=null">
                and month = #{salaryRecords.month}
            </if>
            <if test="salaryRecords.basicSalary!=null">
                and basic_salary = #{salaryRecords.basicSalary}
            </if>
            <if test="salaryRecords.bonus!=null">
                and bonus = #{salaryRecords.bonus}
            </if>
            <if test="salaryRecords.fine!=null">
                and fine = #{salaryRecords.fine}
            </if>
            <if test="salaryRecords.totalSalary!=null">
                and total_salary = #{salaryRecords.totalSalary}
            </if>
            <if test="salaryRecords.status!=null">
                and status = #{salaryRecords.status}
            </if>

            <if test="salaryRecords.managerId!=null">
                and manager_id = #{salaryRecords.managerId}
            </if>
        </where>
    </select>
</mapper>