<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>managers</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>

</head>
<body>
<div id="app">
    <h1>欢迎您</h1>
    <el-button @click="updateDialogVisible = true" plain type="danger">修改密码</el-button>
    <a href="javascript:location.href='managers/logout'">重新登录</a>
    <hr>
    <h2>功能列表</h2>
    <hr>
    <h3>员工基本信息</h3>
    <el-row>
        <el-link href="manageWorkers.html" type="success">添加、删除、查询与修改</el-link>
    </el-row>
    <hr>
    <h3>员工出勤情况记录</h3>
    <el-row>
        <el-link href="attendanceRecord.html" type="success">添加、删除、查询与修改</el-link>
    </el-row>
    <hr>
    <h3>管理请假、离职申请</h3>
    <el-row>
        <el-link href="leaveRecords.html" type="primary">请假申请</el-link>
        <el-link href="resignations.html" type="danger">离职申请</el-link>
    </el-row>
    <hr>
    <h3>管理培训活动</h3>
    <el-row>
        <el-link href="trainingActivities.html" type="success">添加、删除、查询与修改</el-link>
    </el-row>
    <hr>
    <h3>管理培训活动员工记录</h3>
    <el-row>
        <el-link href="trainingActivitiesRecords.html" type="success">添加、删除、查询与修改</el-link>
    </el-row>
    <hr>
    <h3>管理公告信息</h3>
    <el-row>
        <el-link href="announcements.html" type="success">添加、删除、查询与修改</el-link>
    </el-row>
    <hr>
    <h3>管理工资记录</h3>
    <el-row>
        <el-link href="salaryRecords.html" type="success">添加、删除、查询与修改</el-link>
    </el-row>

    <!--修改密码对话框表单-->
    <el-dialog
            :visible.sync="updateDialogVisible"
            title="修改密码"
            width="40%"
    >

        <el-form :model="manager" label-width="80px" ref="form">
            <el-form-item label="原密码">
                <el-input show-password v-model="password0"></el-input>
            </el-form-item>
            <el-form-item label="新密码">
                <el-input show-password v-model="password1"></el-input>
            </el-form-item>
            <el-form-item label="再次确认新密码">
                <el-input show-password v-model="password2"></el-input>
            </el-form-item>


            <el-form-item>
                <el-button @click="updatePassword" type="primary">提交</el-button>
                <el-button @click="updateDialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

</div>

<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link href="element-ui/lib/theme-chalk/index.css" rel="stylesheet">

<script src="js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: "#app",
        methods: {
            updatePassword() {
                const reg = /^\w{6,12}$/
                let b = reg.test(this.password1);
                if (!b) {
                    //不符合要求
                    this.$message.error('密码应为6-12位字母、数字、下划线的组合');
                    return;
                }
                if (this.password1 == null || this.password1 == "") {
                    this.$message.error('密码不得为空');
                    return;
                }
                if (this.password1 != this.password2) {
                    this.$message.error('两次密码不一致');
                    return;
                }
                this.manager.password=this.password0
                axios({
                    method: "post",
                    url: "http://localhost:8080/ademob/managers/updatePassword?password1="+this.password1,
                    data: this.manager
                }).then(resp => {
                    if ("success" == resp.data) {
                        //修改成功
                        //关闭窗口
                        this.updateDialogVisible = false;
                        //弹出提示，添加成功
                        this.$message({
                            message: '恭喜你，修改成功，请重新登录',
                            type: 'success'
                        });
                        //回到登录界面
                        this.logout();
                    }else if ("fail" == resp.data) {
                        this.$message.error('原密码错误');
                    }
                })
            },
            logout() {
                axios({
                    method: "get",
                    url: "http://localhost:8080/ademob/managers/logout"
                })
            },
        },
        data() {
            return {
                // 修改密码对话框是否展示的标记
                updateDialogVisible: false,
                manager: {
                    id: "",
                    name: "",
                    salt:"",
                    password: "",
                },
                password0: "",
                password1: "",
                password2: "",
            }
        }
    })
</script>
</body>
</html>