<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>trainingActivities</title>

</head>
<body>
<div id="app">
    <!--搜索表单-->
    <el-form :inline="true" :model="trainingActivities" class="demo-form-inline">


        <el-form-item label="id" size="mini">
            <el-input placeholder="id" v-model="trainingActivities.id"></el-input>
        </el-form-item>

        <el-form-item label="培训内容" size="mini">
            <el-input placeholder="培训内容" v-model="trainingActivities.trainingContent"></el-input>
        </el-form-item>
        <el-form-item label="管理员id" size="mini">
            <el-input placeholder="管理员id" v-model="trainingActivities.managerId"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button @click="selectByPage" type="primary">查询</el-button>
        </el-form-item>
    </el-form>

    <!--按钮-->
    <el-row>
        <el-button @click="deleteTrainingActivities" plain type="danger">删除</el-button>
        <el-button @click="addDialogVisible = true" plain type="primary">新增</el-button>
    </el-row>

    <!--添加培训活动对话框表单-->
    <el-dialog
            :visible.sync="addDialogVisible"
            title="添加培训活动"
            width="40%"
    >

        <el-form :model="trainingActivities" label-width="80px" ref="form">
            <el-form-item label="培训内容">
                <el-input type="textarea" v-model="trainingActivities.trainingContent"></el-input>
            </el-form-item>


            <el-form-item>
                <el-button @click="addTrainingActivities" type="primary">提交</el-button>
                <el-button @click="addDialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>


    <!--修改培训活动对话框表单-->
    <el-dialog
            :visible.sync="updateDialogVisible"
            title="修改培训活动"
            width="40%"
    >

        <el-form :model="trainingActivities" label-width="80px" ref="form">


            <el-form-item label="培训内容">
                <el-input type="textarea" v-model="trainingActivities.trainingContent"></el-input>
            </el-form-item>


            <el-form-item>
                <el-button @click="updateTrainingActivities" type="primary">提交</el-button>
                <el-button @click="updateDialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

    <!--表格-->
    <template>
        <el-table
                :data="tableData"
                @selection-change="handleSelectionChange"
                style="width: 100%"
        >
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    align="center"
                    label="id"
                    prop="id"
            >
            </el-table-column>

            <el-table-column
                    align="center"
                    label="培训内容"
                    prop="trainingContent">
            </el-table-column>

            <el-table-column
                    align="center"
                    label="管理员id"
                    prop="managerId"
            >
            </el-table-column>
            <el-table-column
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                    <el-button @click="handleEdit(scope.$index, scope.row);updateDialogVisible =true" type="primary">
                        修改
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
</div>

<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link href="element-ui/lib/theme-chalk/index.css" rel="stylesheet">

<script src="js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: "#app",
        mounted() {
            this.selectByPage()
        },
        methods: {
            //查询分页数据的方法
            selectByPage() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/ademob/managers/selectByPageAndCondition5?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                    data: this.trainingActivities
                }).then(resp => {
                    //设置表格数据
                    this.tableData = resp.data.rows;
                    //设置总记录数
                    this.totalCount = resp.data.totalCount
                })
            },
            //添加培训活动
            addTrainingActivities() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/ademob/managers/addTrainingActivities",
                    data: this.trainingActivities
                }).then(resp => {
                    if ("success" == resp.data) {
                        //添加成功
                        //关闭窗口
                        this.addDialogVisible = false;
                        //重新查询数据
                        this.selectByPage();
                        //弹出提示，添加成功
                        this.$message({
                            message: '恭喜你，添加成功',
                            type: 'success'
                        });
                    }
                })
            },
            //删除培训活动
            deleteTrainingActivities() {
                //弹出确认删除的提示框
                this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //点击确认
                    //创建id数组，从this.multipleSelection中获取
                    for (let i = 0; i < this.multipleSelection.length; i++) {
                        let selectionElement = this.multipleSelection[i];
                        this.selectedIds[i] = selectionElement.id;
                    }
                    axios({
                        method: "post",
                        url: "http://localhost:8080/ademob/managers/deleteTrainingActivities",
                        data: this.selectedIds
                    }).then(resp => {
                        if ("success" == resp.data) {
                            //删除成功
                            //重新查询数据
                            this.selectByPage();
                            //弹出提示
                            this.$message({
                                message: '恭喜你，删除成功',
                                type: 'success'
                            });
                        }
                    })
                }).catch(() => {
                    //点击取消
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            updateTrainingActivities() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/ademob/managers/updateTrainingActivities",
                    data: this.trainingActivities
                }).then(resp => {
                    if ("success" == resp.data) {
                        //修改成功
                        //关闭窗口
                        this.updateDialogVisible = false;
                        //重新查询数据
                        this.selectByPage();
                        //弹出提示，添加成功
                        this.$message({
                            message: '恭喜你，修改成功',
                            type: 'success'
                        });
                    }
                })
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;
                console.log(this.multipleSelection)
            },
            //分页
            handleSizeChange(val) {
                //重新设置每页展示条数
                this.pageSize = val;
                //重新查询当前页码数据
                this.selectByPage();
            },
            handleCurrentChange(val) {
                //重新设置当前页码
                this.currentPage = val;
                //重新查询当前页码数据
                this.selectByPage();
            },
            handleEdit(index, row) {
                console.log(index, row)
                //row是该行tableData对应的一行
                this.trainingActivities = row
            }
        },
        data() {
            return {
                //被选中的id数组
                selectedIds: [],
                // 复选框选中数据集合
                multipleSelection: [],
                // 添加数据对话框是否展示的标记
                addDialogVisible: false,
                // 修改数据对话框是否展示的标记
                updateDialogVisible: false,
                //每页显示条数
                pageSize: 5,
                //总记录数
                totalCount: 100,
                // 当前页码
                currentPage: 1,
                //培训活动模型数据
                trainingActivities: {
                    id: "",
                    trainingContent: "",
                    status: "",
                    managerId: ""
                },
                //表格数据
                tableData: [{
                    id: "1",
                    trainingContent: "1",
                    status: "1",
                    managerId: "1"
                }]
            }
        }
    })
</script>
</body>
</html>