<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>workerSalaryRecords</title>
</head>
<body>
<div id="app">
    <!--搜索表单-->
    <el-form :inline="true" :model="salaryRecords" class="demo-form-inline">


        <el-form-item label="id" size="mini">
            <el-input placeholder="id" v-model="salaryRecords.id"></el-input>
        </el-form-item>
        <el-form-item label="年" size="mini">
            <el-input placeholder="年" v-model="salaryRecords.year"></el-input>
        </el-form-item>
        <el-form-item label="月" size="mini">
            <el-input placeholder="月" v-model="salaryRecords.month"></el-input>
        </el-form-item>
        <el-form-item label="底薪" size="mini">
            <el-input placeholder="底薪" v-model="salaryRecords.basicSalary"></el-input>
        </el-form-item>
        <el-form-item label="奖金" size="mini">
            <el-input placeholder="奖金" v-model="salaryRecords.bonus"></el-input>
        </el-form-item>
        <el-form-item label="罚款" size="mini">
            <el-input placeholder="罚款" v-model="salaryRecords.fine"></el-input>
        </el-form-item>
        <el-form-item label="总工资" size="mini">
            <el-input placeholder="总工资" v-model="salaryRecords.totalSalary"></el-input>
        </el-form-item>
        <el-form-item label="管理员id" size="mini">
            <el-input placeholder="管理员id" v-model="salaryRecords.managerId"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button @click="selectByPage" type="primary">查询</el-button>
        </el-form-item>
    </el-form>

    <!--表格-->
    <template>
        <el-table
                :data="tableData"
                :row-class-name="tableRowClassName"
                style="width: 100%"
        >

            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    align="center"
                    label="id"
                    prop="id"
            >
            </el-table-column>
            <el-table-column
                    align="center"
                    label="年"
                    prop="year">
            </el-table-column>
            <el-table-column
                    align="center"
                    label="月"
                    prop="month">
            </el-table-column>
            <el-table-column
                    align="center"
                    label="底薪"
                    prop="basicSalary">
            </el-table-column>
            <el-table-column
                    align="center"
                    label="奖金"
                    prop="bonus">
            </el-table-column>
            <el-table-column
                    align="center"
                    label="罚款"
                    prop="fine">
            </el-table-column>
            <el-table-column
                    align="center"
                    label="总工资"
                    prop="totalSalary">
            </el-table-column>
            <el-table-column
                    align="center"
                    label="管理员id"
                    prop="managerId">
            </el-table-column>
        </el-table>
    </template>

    <!--分页工具条-->
    <el-pagination
            :current-page="currentPage"
            :page-size="5"
            :page-sizes="[5, 10, 15, 20]"
            :total="totalCount"
            @current-change="handleCurrentChange"
            @size-change="handleSizeChange"
            layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>

</div>

<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link href="element-ui/lib/theme-chalk/index.css" rel="stylesheet">

<script src="js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: "#app",
        mounted() {
            this.selectByPage()
        },
        methods: {
            //查询分页数据的方法
            selectByPage() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/ademob/workers/selectByPageAndCondition7?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                    data: this.salaryRecords
                }).then(resp => {
                    //设置表格数据
                    this.tableData = resp.data.rows;
                    //设置总记录数
                    this.totalCount = resp.data.totalCount
                })
            },
            //分页
            handleSizeChange(val) {
                //重新设置每页展示条数
                this.pageSize = val;
                //重新查询当前页码数据
                this.selectByPage();
            },
            handleCurrentChange(val) {
                //重新设置当前页码
                this.currentPage = val;
                //重新查询当前页码数据
                this.selectByPage();
            },
            handleEdit(index, row) {
                console.log(index, row)
                //row是该行tableData对应的一行
                this.salaryRecords = row
            }
        },
        data() {
            return { //每页显示条数
                pageSize: 5,
                //总记录数
                totalCount: 100,
                // 当前页码
                currentPage: 1,
                //工资记录模型数据
                salaryRecords: {
                    id: "",
                    workerId: "",
                    year: "",
                    month: "",
                    basicSalary: "",
                    bonus: "",
                    fine: "",
                    totalSalary: "",
                    status: "",
                    managerId: ""
                },
                //表格数据
                tableData: [{
                    id: 1,
                    workerId: 1,
                    year: "1",
                    month: "1",
                    basicSalary: "1",
                    bonus: "1",
                    fine: "1",
                    totalSalary: "1",
                    status: "1",
                    managerId: "1"
                }]
            }
        }
    })
</script>
</body>
</html>