<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>workerAnnouncements</title>
</head>
<body>
<div id="app">
    <!--搜索表单-->
    <el-form :inline="true" :model="announcements" class="demo-form-inline">


        <el-form-item label="id" size="mini">
            <el-input v-model="announcements.id" placeholder="id"></el-input>
        </el-form-item>
        <el-form-item label="管理员id" size="mini">
            <el-input v-model="announcements.managerId" placeholder="管理员id"></el-input>
        </el-form-item>
        <el-form-item label="公告内容" size="mini">
            <el-input v-model="announcements.announcementContent" placeholder="公告内容"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="selectByPage">查询</el-button>
        </el-form-item>
    </el-form>

    <!--表格-->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                @selection-change="handleSelectionChange"
        >

            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>

            <el-table-column
                    prop="id"
                    label="id"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="announcementContent"
                    label="公告内容"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="managerId"
                    label="管理员id"
                    align="center"
            >
            </el-table-column>

        </el-table>
    </template>

</div>

<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script src="js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: "#app",
        mounted() {

            this.selectByPage()
        },
        methods: {
            selectByPage() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/ademob/workers/selectByPageAndCondition5?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                    data: this.announcements
                }).then(resp => {
                    //设置表格数据
                    this.tableData = resp.data.rows;
                    //设置总记录数
                    this.totalCount = resp.data.totalCount
                })
            },

            //分页
            handleSizeChange(val) {
                //重新设置每页展示条数
                this.pageSize = val;
                //重新查询当前页码数据
                this.selectByPage();
            },
            handleCurrentChange(val) {
                //重新设置当前页码
                this.currentPage = val;
                //重新查询当前页码数据
                this.selectByPage();
            },
        },
        data() {
            return {
                //每页显示条数
                pageSize: 5,
                //总记录数
                totalCount: 100,
                // 当前页码
                currentPage: 1,
                //公告模型
                announcements: {
                    id: "",
                    managerId: "",
                    announcementContent: "",
                    status: "",
                },
                //表格数据
                tableData: [{
                    id: "1",
                    managerId: "1",
                    announcementContent: "1",
                    status: "1",
                }]
            }
        }
    })
</script>

</body>
</html>